@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #F3F2EE;
    --foreground: #000000;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Adjust the shadow values as needed */
  display: flex;
  justify-content: center;
}

h1 {
  font-family: "Courier New", Courier, monospace; /* Tailwind's 'font-mono' */
  font-size: 9rem; /* Tailwind's 'text-9xl' which equals 9rem (144px) */
  font-weight: 600;
  display: flex; /* Tailwind's 'flex' */
  align-items: center; /* Tailwind's 'items-center' */
  justify-content: center; /* Tailwind's 'justify-center' */
  line-height: 10rem;
}

h2 {
  font-family: 'Courier New', Courier, monospace;
  font-size: 60px;
  font-weight: 600;
}

.welcomeText {
  font-family: "Courier New", Courier, monospace; /* Tailwind's 'font-mono' */
  font-size: 1.25rem; /* Tailwind's 'text-xl' which equals 1.25rem (20px) */
  display: flex; /* Tailwind's 'flex' */
  /* margin-top: 1.25rem; Tailwind's 'mt-5' which equals 1.25rem (20px) */
  align-items: center; /* Tailwind's 'items-center' */
  justify-content: center; /* Tailwind's 'justify-center' */
  font-weight: 700;
  text-align: center;

}

.cvBox {
  background-color: #e9ebed;
  border-radius: 25px;
  padding: 10px;
  margin: 5px;
  /* margin-right: 40px; */
  width:auto;
}

.footer {
  background-color: #EEEEEE;
  position: fixed;
  bottom: 0;
  width: 100%;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Example for shadow-md */
  display: flex;
  justify-content: center;
  align-items: center;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@media (max-width: 767px) {
  h1 {
    font-family: "Courier New", Courier, monospace; /* Tailwind's 'font-mono' */
    font-size: 5rem; /* Tailwind's 'text-9xl' which equals 9rem (144px) */
    font-weight: 600;
    display: flex; /* Tailwind's 'flex' */
    align-items: center; /* Tailwind's 'items-center' */
    justify-content: center; /* Tailwind's 'justify-center' */
    line-height: 6rem;
  }

  h2 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 35px;
    font-weight: 500;
    justify-content: center;
    display: flex;
    align-items: center;
    margin: 0;
  }

  .welcomeText {
    font-family: "Courier New", Courier, monospace; /* Tailwind's 'font-mono' */
    font-size: 1.25rem; /* Tailwind's 'text-xl' which equals 1.25rem (20px) */
    display: flex; /* Tailwind's 'flex' */
    /* margin-top: 1.25rem; Tailwind's 'mt-5' which equals 1.25rem (20px) */
    align-items: center; /* Tailwind's 'items-center' */
    justify-content: center; /* Tailwind's 'justify-center' */
    text-align: center;
  }
}