@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #F3F2EE;
    --foreground: #000000;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
}

h1 {
  font-family: "Courier New", Courier, monospace;
  font-size: 9rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 10rem;
}

h2 {
  font-family: 'Courier New', Courier, monospace;
  font-size: 60px;
  font-weight: 600;
}

.welcomeText {
  font-family: "Courier New", Courier, monospace;
  font-size: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  text-align: center;

}

.cvBox {
  background-color: #e9ebed;
  border-radius: 25px;
  padding: 10px;
  margin: 5px;
  width:auto;
}

.footer {
  background-color: #EEEEEE;
  position: fixed;
  bottom: 0;
  width: 100%;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@media (max-width: 767px) {
  h1 {
    font-family: "Courier New", Courier, monospace;
    font-size: 5rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 6rem;
  }

  h2 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 35px;
    font-weight: 500;
    justify-content: center;
    display: flex;
    align-items: center;
    margin: 0;
  }

  .welcomeText {
    font-family: "Courier New", Courier, monospace;
    font-size: 1.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}